*{
    box-sizing: border-box;
}
html, body  { 
	height: 100%;
	width: 100%;
}
h1 {
    color:white;
    font-size: 60px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
    font-weight: bold;
}
img{
    width: 200px;
    height: 200px;
    
}

article{
    background-color: rgba(255, 255, 255, 0.308);
    height:50px;
    width:500px;
    border-radius: 10px;
}
p{
    font-size: 25px;
}

body {
    background-image: radial-gradient(circle, #1c7fc2 0%, #009cdc 28%, #0d9ade 32%, #011844 100%);
}
.currentDay{
    font-weight: bold;
    font-size: 32px;
}
.weatherTemp{
    font-size: 40px;
    font-weight: bold;
}

.searchBar {
    width:30%;
    padding: 15px 10px;
    border:none;
    background-color: rgba(255, 255, 255, 0.308);
    font-size: 40px;
    color:inherit;
    margin-bottom: 20px;
    border-radius: 6px;
    color:#fff;
    margin-left: 15px;
    }

    .searchBar::placeholder {
        color:#fff;
        text-align: left;
    }

    
    .weatherDetails{
        background-color: rgba(255, 255, 255, 0.308);
        width: 30%;
        border-radius: 10px;
        margin-left: 3px;
        padding-left: 8px;
        padding-bottom: 3px;
        display: flexbox;
        float: left;
    }

    .fiveDayForecast {
        background-color: transparent;
        border-radius: 10px;
        width:30%;
        float: right;
        padding: 5px;
        margin-bottom: 20px;
        align-items: center;
        text-align: center;
    }

    

    .weatherForecast{
        height: 20%;
    }

    .weatherBox{
        margin-left: 10px;
    }

    .savedLocations{
        width:30%;
        padding: 15px 10px;
        border:none;
        background-color: rgba(255, 255, 255, 0.308);
        font-size: 20px;
        color:inherit;
        margin-bottom: 20px;
        border-radius: 6px;
        margin-left: 15px;
        
    }
